@charset "utf-8";
@import "normalize";
@import "material.min.css";
@import "home.css";
@import "prism.css";
@import "timeline.css";

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
}

body {
    background: white;
    text-align: center;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.hidden {
  display: none;
}

.logo img {
    height: 18.75em;
    margin-top: 6em;
}

h1 {
    color: rgba(0,0,0,0.5);
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
}

.doc {
    margin: 3em 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 300;

    a {
        border: 1px solid white;
        border-radius: 3px;
        padding: 0.75em 0.7em;
        color: white;
        text-decoration: none;
        transition: color 0.1s linear;

        &:hover {
            background: rgba(0,0,0,0.2);
            color: white;
            transition: all 0.15s linear;
        }
    }
}
/*
.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}*/
nav {
    padding: 10px;
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
    a {
        color: #616161;
        text-decoration: none;
        margin-right: 10px;
        margin-left: 10px;

        &:hover {
            color: #E0E0E0;
        }
    }
    div.right {
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 10px;
      font-size: 13px;
      color: #757575;
      a {
        margin-right: 0px;
        margin-left: 5px;
        &:hover {
          color: black;
        }
      }
      img {
        margin-top: -2.5px;
        width: 16px;
        height: 16px;
      }
    }
}

div.container {
    max-width: 1000px;
    display: block;
    position: relative;
    margin: 0 auto;
    height: auto;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    div.container {
        max-width: 800px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    div.container {
        max-width: 700px;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  nav {
    div.right {
      display: none;
    }
  }
    div.container {
        width: 100%;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}
