<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="google-site-verification" content="mbnAZZnZNrVz7HZR9mdDETTf2zpuq5NSqiZc5o3QvcU" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>REND</title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>
  <body class="<%= page_classes %>">
    <div id="loader-wrapper" class="hidden">
        <div id="loader" class="loader">
          <div class="loader__bar"></div>
          <div class="loader__bar"></div>
          <div class="loader__bar"></div>
          <div class="loader__bar"></div>
          <div class="loader__bar"></div>
          <div class="loader__ball"></div>
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
