<div class="nancy-html">
  <div class="nancy-container">
    <div class="intro">
      <div class="comingsoon fadeIn">
        COMING APRIL 2017
      </div>
      <div class="intro-logo">
          <h2><span class="fadeIn">R</span><span class="hide">E</span><div class="elines"><div></div><div></div><div></div></div><span class="fadeIn">ND</span></h2>
          <h4><span class="fadeIn">the animation collective</span></h4>
        <div class="buttons fadeIn">
          <div class="button">
            LEARN MORE
          </div>
        </div>
      </div>
    </div>
    <div class="about">
    </div>
  </div>
</div>
